*{
    padding: 0px;;
    margin: 0px;
}
.main{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.body{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#profile{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

#head{
    display: flex;
    align-items: center;
    font-size: larger;
    padding: 3% 10%;
    gap: 10%;
}
.sections{
    padding: 1% 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#about{
    font-family: Arial, sans-serif;
    line-height: 1.8;
    margin: auto;
    text-align: justify;
    font-size: 18px;
    color: #333;
    word-wrap: break-word;

}
.about{
    width: 100%;
    text-align: justify;
    word-wrap: break-word;
}
.cards{
    display: flex;
    flex-direction: column;
    padding: 2% 0%;
    justify-content: center;
}
#write{
   display: grid;
   grid-template-columns:repeat(2,1fr);
   font-size: 20px;
   gap: 10px;
   width: 100%;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ededed;
    border-radius: 10px;
    align-items: center;
    max-width: 60%;
}
.date{
    display: flex;
    width: auto;
    padding: 0% 5%;

}
a{
    text-decoration: none;
    color: #000;

}

.image{
    width: 60%;
}

#Language{
    display: grid;
}
.prolang{
    display: grid;
    grid-template-columns:repeat(8,0fr);
    padding: 5px;
    gap: 20px;
}
.logo{
    width: 50px;
}

.sites{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    font-size: 20px;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}
.sites div{
    display: flex;
    flex-direction: column;
    padding:20px;
    background-color: rgb(227, 227, 224);
    align-items: center;
    border-radius: 10px;
    
}
#siteimg{
    max-width: 80px;
    border-radius: 30px;
}
#gitlogo{
    width: 20px;
}
#git{
    display: flex;
    align-self: center;
    font-size: 15px;
}

#contlogo{
    width: 30px;
}